body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #06668C;
  padding: 20px;
  color: white;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 20px;
}

.logo-title h1 {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Change from block to flex to control spacing */
  align-items: center; /* Ensure items are centered vertically */
  gap: 1rem; 
}

.nav-links li {
  display: inline;
  display: flex; /* Use flex to allow centering */
  align-items: center; /* Center items vertically */
  /* margin-right: 1rem; */
}

.nav-links li:last-child {
  margin-right: 0;
}

.links {
  color: #fff;
  text-decoration: none;
}

.links:hover {
  color: #61dafb;
}

.signaler-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #333; /* Couleur du texte */
  border: 1px solid #333;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.signaler-button:hover {
  background-color: #333;
  color: #fff; /* Couleur du texte lorsqu'il est survolé */
  border-color: #fff;
}

.login-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #333; /* Couleur du texte */
  border: 1px solid #333;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.login-button:hover {
  background-color: #333;
  color: #fff; /* Couleur du texte lorsqu'il est survolé */
  border-color: #fff;
}


.App-content {
  padding: 20px;
}


.App-footer {
  background-color: #545454;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  /* position:relative; */
  /* bottom: 0; */
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content:space-evenly;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.footer-content p {
  margin: 0;
}

.footer-link {
  color: white;
  text-decoration: none;
  margin: 0;
}

.footer-link:hover {
  text-decoration: underline;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
